<template>
    <div class="background">
        <div class="slds-m-top_medium">
            <div >
                <div >
                <header class="slds-builder-header">
                    <div class="slds-builder-header__item">
                    <div class="slds-builder-header__item-label slds-media slds-media_center">
                        <div class="slds-media__body"><b>
                            User App
                        </b></div>
                    </div>
                    </div>
                    <nav class="slds-builder-header__item slds-builder-header__nav">
                    <ul class="slds-builder-header__nav-list">
                        <li class="slds-builder-header__nav-item">
                            <c-link to="/dashboard" variant="link" label="Dashboard" class="slds-builder-header__item-action slds-media slds-media_center"></c-link>
                        </li>
                        <li class="slds-builder-header__nav-item">
                            <c-link to="/about" variant="link" label="About" class="slds-builder-header__item-action slds-media slds-media_center"></c-link>
                        </li>
                        <li class="slds-builder-header__nav-item">
                            <c-link to="/profile" variant="link" label="My Profile" class="slds-builder-header__item-action slds-media slds-media_center"></c-link>
                        </li>
                    </ul>
                    </nav>
                </header>
                </div>
            </div>
        </div>
        <div>
            <slot></slot>
        </div>
    </div>
</template>